aiohttp==3.9.3
aiosignal==1.3.1
altgraph==0.17.4
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
discord==2.3.2
discord-protos==0.0.2
discord.py==2.3.2
discord.py-self==2.0.0
frozenlist==1.4.1
idna==3.6
inquirerpy==0.3.4
multidict==6.0.5
mypy==1.9.0
mypy-extensions==1.0.0
packaging==24.0
pefile==2023.2.7
pfzy==0.3.4
prompt-toolkit==3.0.43
protobuf==5.26.1
pycryptodome==3.14.1
Pygments==2.17.2
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
pywin32-ctypes==0.2.2
regex==2024.4.16
requests==2.31.0
setuptools==69.5.1
six==1.16.0
types-requests==2.31.0.20240406
typing_extensions==4.11.0
urllib3==2.2.1
wcwidth==0.2.13
yarl==1.9.4
